@page
@model Group1_CourseOnline.Pages.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}
<div class="container p-0">
    <h1 class="h3 mb-3">Settings</h1>
    <div class="row">
        <div class="col-md-5 col-xl-4">

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Profile Settings</h5>
                </div>

                <div class="list-group list-group-flush" role="tablist">
                    <a class="list-group-item list-group-item-action  " asp-page="UserProfile">
                        Account
                    </a>
                    @{
                        
                        var serializedAccount = HttpContext.Session.GetString("Account");
                        var options = new JsonSerializerOptions
                         {
                            ReferenceHandler = ReferenceHandler.Preserve
                         };
                        var account = string.IsNullOrEmpty(serializedAccount) ? null : JsonSerializer.Deserialize<Account>(serializedAccount, options);
                        if (account != null && account.IsSocialAccount == false) {
                             <a class="list-group-item list-group-item-action" asp-page="ChangePassword">Password</a>
                        }
                     }
                    <a class="list-group-item list-group-item-action " asp-page="Bought">
                        Bought
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-7 col-xl-8">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Password</h5>
                    <form method="post">
                        <div class="form-group">
                            <label for="inputPasswordCurrent">Current password</label>
                            <input type="password" asp-for="OldPassword" class="form-control" id="inputPasswordCurrent">
                            <small><a href="/ForgotPassword">Forgot your password?</a></small><br />
                            <span class="msg-error" style="color: red;" asp-validation-for="OldPassword"></span><br />

                        </div>
                        <div class="form-group">
                            <label for="inputPasswordNew">New password</label>
                            <input type="password" asp-for="NewPassword" class="form-control" id="inputPasswordNew">
                            <span class="msg-error" style="color: red;" asp-validation-for="NewPassword"></span><br />

                        </div>
                        <div class="form-group">
                            <label for="inputPasswordNew2">Verify password</label>
                            <input type="password" class="form-control" asp-for="RePassword" id="inputPasswordNew2">
                            <span class="msg-error" style="color: red;" asp-validation-for="RePassword"></span><br />
                            <span class="msg-error" style="color: red;">@ViewData["msg-repassword"]</span>
                            <span style="color:green" class="msg-error">@ViewData["msg-success"]</span>
                            <span style="color:red" class="msg-error">@ViewData["msg-fail"]</span>
                        </div>
                       
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
