@page
@model Group1_CourseOnline.Pages.ResetPasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/assets/img/favicon.png">
    <link href="~/assets/css/login-style.css" rel="stylesheet" />
    <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>

    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="~/css/linearicons.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
</head>

<body>
    <section class="vh-100 position-static mt-3">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form method="post">
                        <div class="mt-40">
                            <h2 class="align-content-center">Create new password</h2>
                        </div>
                        <input asp-for="Email" type="hidden" /><br />
                        <div class="form-outline mb-4">

                            <label class="form-label" style="font-size:18px" for="form3Example3">Old Password<span style="color: red;">*</span></label>
                            <input asp-for="OldPassword" type="password" id="form3Example3" class="form-control form-control-lg" placeholder="Enter old password" />
                            <span class="msg-error" style="color: red;" asp-validation-for="OldPassword"></span><br />

                            <label class="form-label" style="font-size:18px" for="form3Example3">New Password<span style="color: red;">*</span></label>
                            <input asp-for="NewPassword" type="password" id="form3Example3" class="form-control form-control-lg" placeholder="Enter new password" />
                            <span class="msg-error" style="color: red;" asp-validation-for="NewPassword"></span><br />
                            <span class="msg-error" style="color: red;">@ViewData["msg-newpassword"]</span><br />

                            <label class="form-label" style="font-size:18px" for="form3Example3">Re-Password<span style="color: red;">*</span></label>
                            <input asp-for="RePassword" type="password" id="form3Example3" class="form-control form-control-lg" placeholder="Enter re-password" />
                            <span class="msg-error" style="color: red;" asp-validation-for="RePassword"></span><br />
                            <span class="msg-error" style="color: red;">@ViewData["msg-repassword"]</span><br />
                         
                            <input type="submit" class="btn btn-primary btn-lg" value="Save" style="padding-left: 2.5rem; padding-right: 2.5rem;" />
                        </div>


                    </form>
                     <span style="color:red" class="msg-error">@ViewData["errMsg"]</span><br />
                </div>
            </div>
        </div>

    </section>
</body>
</html>